    <link rel="stylesheet" href="/css/dashboard.css">
    <title>hotel.me</title>
    <div id = "nav">
        <img src = "/images/logo.png" id = "logo">
        <a id="profile" href="profile">Hi <%=customer.first_name%> ! </a>
        <a href="/users/logout">Logout</a>
    </div>