* {
    padding: 0;
    margin: 0;
}

#logo {
    height: 60px;
    text-align: left;
}

#nav {
    background-color: #0ca3d2;
    height: 60px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#nav a:hover {
    background-color: #ddd;
    color: black;
}

#nav a.active {
    background-color: #4CAF50;
    color: white;
}

#nav a {
    float: right;
    font-weight: bolder;
    font-family: sans-serif;
    color: #f2f2f2;
    font-size: large;
    margin-top: 4px;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#content h1 {
    float: left;
    padding-left: 20px;
    font-size: 30px;
    font-family: 'Balsamiq Sans', cursive;
    text-align: left;
    color: black;
}

#content h3 {
    float: left;
    padding-left: 20px;
    font-size: 16px;
    font-family: 'Balsamiq Sans';
    font-weight: lighter;
    text-align: left;
    color: black;
}

#content img {
    padding-left: 20px;
    float: left;
    margin-bottom: 25px;
}

#content button {
    margin-left: 40px;
    float: inherit;
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 16px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
    -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

#content button:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

#content p {
    float: left;
    font-size: 20px;
    color: red;
    font-family: 'Balsamiq Sans', cursive;
    margin: 6px;
    padding-left: 30px;
    padding-right: 30px;
}

.hotel {
    padding: 12px 5px;
    margin: 12px;
}

#preferences a {
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 14px;
    text-decoration: none;
}

#preferences {
    text-align: center;
    width: 100%;
    height: 40px;
}